{% extends 'base.html.twig' %}

{% block title %}Thank you for booking!{% endblock %}
{% block stylesheets %}

{% endblock %}
        {% block body %}
                <h1 class="text-center">Thank you for booking!</h1>
        {% endblock %}
