{% extends 'base.html.twig' %}

{% block title %}La Casserai{% endblock %}

{% block body %}

        <style>

          .bgimage {
              width:100%;
              height:500px;
              background-image: url('https://i.ibb.co/tBSLjbD/istock-627304216.jpg');
              background-repeat: no-repeat;
              background-position: center;
              background-size:cover;
              background-attachment: fixed;
              text-align: center;
            }

            .bgimage h1 {
              color:#ff0074;
              margin-top:5%;
              font-size:12vw;
            }

            @media only screen and (max-width: 600px) {
              .bgimage h1{
                margin-top:25%;
              }

              .bgimage { 
                height:250px;
              }

              .bd-placeholder-img { 
                height:70px;
                width:70px;
              }
            }

        </style>

 <main role="main">
<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 style="color:white;"><span style="color:#ff0074;">La</span> Casserai</h1>
        <p><a href="{{ path('make_reservation') }}" class="btn btn-light btn-large">Book Now</a></p>
      </div>
    </div>
  </div>
</section>

  <br><br>
  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img mx-auto d-block" width="140" height="140" src="https://i.ibb.co/M6YcNP8/map.png">
        <h2 class="text-center"><span style='color:#ff0074;'>Best</span> Place</h2>
        <p class="text-center">There's no place like this</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img mx-auto d-block" width="140" height="140" src="https://i.ibb.co/HX4SV1J/hotel.png">
        <h2 class="text-center"><span style="color:#ff0074;">Best</span> Hotel</h2>
        <p class="text-center">The best hotel in the world</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
       <img class="bd-placeholder-img mx-auto d-block" width="140" height="140" src="https://i.ibb.co/hV8T2n0/notebook.png">
        <h2 class="text-center"><span style='color:#ff0074;'>Best</span> Booking</h2>
        <p class="text-center">#1 hotel website with the most bookings</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span style='color:#ff0074;'>It’ll blow your mind.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://i.ibb.co/DCZrCHN/5827-14093016160022504665.jpg" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span style='color:#ff0074;'>See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="https://i.ibb.co/gMFgM4c/https-blogs-images-forbes-com-sarahturner-files-2019-03-Ponte-Antico-VE009-1200x800.jpg" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span style='color:#ff0074;'>Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://i.ibb.co/3dMMLtw/006338-32-Lagoon-View-403.jpg" width="350" height="350">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>
{% endblock %}
